[submodule "vim/pack/thirdparty/start/vim-airline"]
	path = vim/pack/thirdparty/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/thirdparty/start/vim-surround"]
	path = vim/pack/thirdparty/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/thirdparty/start/vim-repeat"]
	path = vim/pack/thirdparty/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
